<form class="search-form" id="search-form">
  <input
    class="search-form__input"
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit" class="search-form__button">Search</button>
</form>
<ul class="gallery"></ul>
<div class="windows8 is-hidden">
  <div class="wBall" id="wBall_1">
    <div class="wInnerBall"></div>
  </div>
  <div class="wBall" id="wBall_2">
    <div class="wInnerBall"></div>
  </div>
  <div class="wBall" id="wBall_3">
    <div class="wInnerBall"></div>
  </div>
  <div class="wBall" id="wBall_4">
    <div class="wInnerBall"></div>
  </div>
  <div class="wBall" id="wBall_5">
    <div class="wInnerBall"></div>
  </div>
</div>
<div id="anchor"></div>
